<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="es.jaf.mfa_authenticator">

    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:requestLegacyExternalStorage="true"
            android:label="@string/app_name"
            android:supportsRtl="true">

        <activity
                android:name="es.jaf.mfa_authenticator.MainActivity"
                android:label="@string/app_name"
                android:noHistory="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="es.jaf.mfa_authenticator.AccountsActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name="es.jaf.mfa_authenticator.AccountEditActivity"
                android:label="@string/menu_edit"
                android:theme="@style/AppTheme" />

        <activity
                android:name="es.jaf.mfa_authenticator.SettingsActivity"
                android:label="@string/settings"
                android:theme="@style/AppTheme" />

        <activity
                android:name=".ExportActivity"
                android:label="@string/cmdexport"
                android:theme="@style/AppTheme" />

        <activity
                android:name=".ImportActivity"
                android:label="@string/cmdimport"
                android:theme="@style/AppTheme" />

        <activity
                android:name="es.jaf.mfa_authenticator.CaptureActivityAnyOrientation"
                android:screenOrientation="fullSensor"
                android:stateNotNeeded="true"
                android:theme="@style/zxing_CaptureTheme"
                android:windowSoftInputMode="stateAlwaysHidden"/>
    </application>

</manifest>